.course_hero{
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    animation: back-anime 10s ease-in-out infinite;
    background-image: url('../../assets/aboutCourse/courseHeroBg1.jpg');
}

@keyframes back-anime{
    50%{
        background-image: url('../../assets/heroImg/working.jpg');
    }
}

.course_hero{
    height: 50vw;
    position: relative;
    top: 20px;
    width: 100%;
    border-bottom: 5px solid var(--mainColor);

}


.course_hero_main{
    position: relative;
    display: flex;
    width: 100%;
    top: 20vw;
}

.course_hero_info{
    position: relative;
    width: 50%;
}

.course_hero_title{
    font-size: 4vw;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 4vw;
    color: var(--white-color);
}

.detail{
    width: max-content;
    border: none;
    border-radius: 5px;
    height: 3vw;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    background-color: var(--mainColor);
}

.detail:hover{
    cursor: pointer;
}

.course_hero_img{
    width: 600px;
    top: -25px;
    left: 100px;
    position: relative;
}

.course_hero_logo{
    width: 100%;
}

.course_item_during{
    color: var(--mainColor);
}